.section__title {
  font-size: 40px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.section__title--pink {
  color: var(--pink);
}

.section__title--white {
  color: var(--white);
}
