.sliderControls {
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: vw(52px);

    @include all-breakpoints(gap, 52px);

    @include w375 {
      gap: vw(17px);
    }

    &_bigGap {
      gap: vw(50px);

      @include all-breakpoints(gap, 50px);
    }
  }
}
