.navLink {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: var(--color);

  @include all-breakpoints(font-size, 16px);

  @include w375 {
    font-size: vw(14px);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--color);
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::after {
        transform: scaleX(0);
      }
    }
  }

  &_size_md {
    font-size: 18px;

    @include all-breakpoints(font-size, 18px);
  }

  &_size_lg {
    font-size: 20px;

    @include all-breakpoints(font-size, 20px);
  }

  &_color_white {
    --color: var(--color-text-white);
  }

  &_color_pink {
    --color: var(--color-text-pink);
  }
}
