.hero {
  position: relative;

  @include container;

  &__content {
    position: relative;
    top: vw(-83px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: vw(46px) vw(96px) vw(113px) vw(106px);
    z-index: 1;

    & > * {
      z-index: 1;
    }

    @include all-breakpoints(top, -83px);
    @include all-breakpoints(padding, 46px, 96px, 118px, 106px);

    @include w768 {
      padding: vw(46px) vw(15px) vw(100px);
    }

    @include w375 {
      padding: 0;
      padding-top: vw(380px);
      top: unset;
      flex-direction: column;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('@/assets/images/hero/hero-bg-desk.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;

      @include w375 {
        background-image: url('@/assets/images/hero/hero-bg-mob.png');
        bottom: unset;
        top: vw(725px);
        left: 50%;
        right: unset;
        transform: translateX(-50%);
        width: vw(347px);
        height: vw(534px);
      }
    }
  }

  &__model {
    position: absolute;
    top: vw(-104px);
    left: vw(147px);
    width: vw(417px);
    z-index: 2;

    @include all-breakpoints(top, -104px);
    @include all-breakpoints(left, 106px);

    @include w2000 {
      width: vw(417px);
    }

    @include w1280 {
      width: vw(417px);
    }

    @include w768 {
      width: vw(320px);
      top: vw(-35px);
      left: vw(15px);
    }

    @include w375 {
      width: vw(320px);
      top: vw(245px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__modelImg {
    @include contain-img(contain);
  }

  &__aytlo {
    width: vw(148px);
    height: auto;
    object-fit: contain;
    object-position: center;

    @include all-breakpoints(width, 148px);

    @include w375 {
      width: vw(112px);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: vw(30px);
    width: vw(216px);

    @include all-breakpoints(width, 216px);
    @include all-breakpoints(gap, 30px);

    @include w375 {
      width: vw(262px);
      align-items: center;
    }

    &_first {
      @include all-breakpoints(padding-bottom, 100px);

      @include w768 {
        padding-bottom: vw(35px);
      }
    }
  }

  &__phone {
    position: absolute;
    top: vw(-175px);
    left: 50%;
    transform: translateX(-50%);
    width: vw(420px);
    height: auto;

    @include all-breakpoints(top, -175px);
    @include all-breakpoints(width, 420px);

    @include w768 {
      top: vw(-90px);
      width: vw(300px);
    }

    @include w375 {
      width: vw(177px);
      height: vw(276px);
      top: vw(38px);
      left: unset;
      right: vw(-30px);
      transform: unset;
    }
  }

  &__phoneImg {
    @include contain-img(contain);
  }

  &__link {
    position: relative;
    top: vw(80px);
    font-weight: 700;
    font-size: vw(14px);
    line-height: 100%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: vw(2px);
    color: var(--color-text-pink);
    cursor: pointer;

    @include all-breakpoints(text-underline-offset, 2px);
    @include all-breakpoints(top, 80px);
    @include all-breakpoints(font-size, 14px);

    @include w768 {
      top: vw(20px);
    }

    @include w375 {
      position: absolute;
      font-size: vw(11px);
      top: vw(185px);
      width: vw(64px);
      text-align: end;
      line-height: 130%;
    }
  }
}
