.hero {
  position: relative;

  @include container;

  &__content {
    position: relative;
    top: -83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1084px;
    height: 690px;
    padding: 48px 101px 99px 118px;
    z-index: 1;

    & > * {
      z-index: 1;
    }

    @include all-breakpoints(top, -83px);

    @include w1996 {
      width: vw(1084px);
      height: vw(690px);
      padding: vw(48px) vw(101px) vw(99px) vw(118px);
    }

    @include w1280 {
      width: vw(1057px);
      height: vw(690px);
      padding: vw(46px) vw(96px) vw(100px) vw(106px);
    }

    @include w375 {
      top: unset;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 0;
      padding-top: vw(380px);
      height: auto;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('@/assets/images/hero/hero-bg-desk.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;

      @include w375 {
        background-image: url('@/assets/images/hero/hero-bg-mob.png');
        bottom: unset;
        top: vw(807px);
        left: 50%;
        right: unset;
        transform: translateX(-50%);
        width: vw(347px);
        height: vw(534px);
      }
    }
  }

  &__model {
    position: absolute;
    top: -85px;
    left: 102px;
    width: 417px;
    z-index: 2;

    @include w1996 {
      width: vw(417px);
      top: vw(-85px);
      left: vw(102px);
    }

    @include w1280 {
      width: vw(417px);
      top: vw(-85px);
      left: vw(102px);
    }

    @include w375 {
      width: vw(320px);
      top: vw(245px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__modelImg {
    @include contain-img(contain);
  }

  &__aytlo {
    width: 148px;
    height: auto;
    object-fit: contain;
    object-position: center;

    @include all-breakpoints(width, 148px);

    @include w375 {
      width: vw(112px);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 216px;

    @include all-breakpoints(width, 216px);
    @include all-breakpoints(gap, 30px);

    @include w375 {
      width: vw(262px);
      align-items: center;
    }

    &_first {
      @include all-breakpoints(padding-bottom, 96px);

      @include w375 {
        width: 100%;
      }
    }
  }

  &__phone {
    position: absolute;
    top: -161px;
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
    height: auto;

    @include all-breakpoints(top, -175px);
    @include all-breakpoints(width, 420px);

    @include w375 {
      width: vw(177px);
      height: vw(276px);
      top: vw(38px);
      left: unset;
      right: vw(-30px);
      transform: unset;
    }
  }

  &__phoneImg {
    @include contain-img(contain);
  }

  &__link {
    position: relative;
    top: 95px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;

    @include all-breakpoints(top, 95px);
    @include all-breakpoints(font-size, 14px);

    @include w375 {
      position: absolute;
      font-size: vw(11px);
      top: vw(185px);
      width: vw(64px);
      text-align: end;
      line-height: 130%;
    }
  }

  &__contentDisclaimer {
    position: absolute;
    bottom: -134px;
    left: 655px;

    @include all-breakpoints(bottom, -134px);

    @include w1996 {
      left: vw(655px);
    }

    @include w1280 {
      left: vw(637px);
    }

    @include w375 {
      top: vw(125px);
      left: vw(238px);
      bottom: unset;
    }
  }
}
