@font-face {
  font-family: PTMono;
  src:
    url('../assets/fonts/PTMono-Regular.woff2') format('woff2'),
    url('../assets/fonts/PTMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:
    url('../assets//fonts/IBMPlexMono-Bold.woff2') format('woff2'),
    url('../assets//fonts/IBMPlexMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:
    url('../assets/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
    url('../assets/fonts/IBMPlexMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
