@use 'sass:math';
@use 'sass:list';

$dbreak: 1996px !default;

@function r2f($val) {
  @return math.div(math.round($val * 10000), 10000);
}

// функция для конвертации px в vw
@function vw($px) {
  @if $px == 0 or $px == 0 {
    @return 0;
  }

  @return r2f(math.div($px, $dbreak) * 100vw);
}

// Вспомогательная функция для генерации значения свойства из массива значений
@function generate-value($vals) {
  $result: ();

  @each $val in $vals {
    @if $val {
      $result: list.append($result, vw($val), $separator: space);
    }
  }

  @return $result;
}

@mixin w1996 {
  $dbreak: 1996px !global;

  @media (width <= 1996px) {
    @content;
  }
}

@mixin w1280 {
  $dbreak: 1280px !global;

  @media (width <= 1280px) {
    @content;
  }
}

@mixin w375 {
  $dbreak: 375px !global;

  @media (width <= 768px) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  padding: 0 100px;
  max-width: 1996px;
  width: 100%;

  @include w1996 {
    padding: 0 vw(100px);
  }

  @include w1280 {
    padding: 0 vw(100px);
  }

  @include w375 {
    padding: 0 vw(30px);
  }
}

@mixin all-breakpoints($property, $values...) {
  @include w1996 {
    #{$property}: generate-value($values);
  }

  @include w1280 {
    #{$property}: generate-value($values);
  }

  @include w375 {
    #{$property}: generate-value($values);
  }
}

// обрезка изображения
@mixin contain-img($objectFit: cover) {
  width: 100%;
  height: 100%;
  object-fit: $objectFit;
  object-position: center;
}

// очистка стилей для списка
@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// очистка стилей для кнопки
@mixin clear-btn {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

// транзишены
@mixin transit($tag...) {
  transition-timing-function: ease-in-out;
  transition-duration: 350ms;
  transition-property: $tag;
}

// обрезка текста
@mixin clamp($lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
