:root {
  --font-family-ibm-plex-mono: 'IBM Plex Mono', sans-serif;
  --font-family-pt-mono: ptmono, sans-serif;
  --color-text-white: #fff;
  --color-text-pink: #c35ab8;
  --color-bg-violet: #352c5d;
  --color-bg-black: #1c1c1c;
}
