.firstBlock {
  @include container;

  position: relative;
  height: vw(661px);

  @include w2000 {
    height: vw(661px);
  }

  @include w1280 {
    height: vw(661px);
  }

  @include w1024 {
    height: vw(540px);
  }

  @include w768 {
    height: vw(360px);
  }

  @include w375 {
    height: vw(195px);
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);

    @include w2000 {
      width: vw(852px);
    }

    @include w1280 {
      width: vw(852px);
    }

    @include w1024 {
      width: vw(720px);
    }

    @include w768 {
      width: vw(400px);
    }

    @include w375 {
      width: vw(86px);
    }
  }

  &__img {
    @include contain-img(contain);
  }

  &__title {
    font-size: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  &__description {
    font-size: vw(13px);
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    text-align: end;
    padding-right: vw(113px);

    @include all-breakpoints(font-size, 13px);
    @include all-breakpoints(padding-right, 113px);

    @include w375 {
      display: none;
      width: 100%;
    }
  }
}
