.backstage {
  position: relative;
  top: -90px;

  @include container;
  @include all-breakpoints(top, -90px);

  @include w375 {
    top: unset;
    padding-top: vw(80px);
    background-image: url('@/assets/images/backstage/backstage-bg-mob.png');
    background-size: 100%;
    background-position: center top vw(195px);
    background-repeat: no-repeat;
  }

  &__container {
    position: relative;
    margin: 0 auto;
    padding: 116px 31px 107px 93px;
    width: 1084px;
    height: 855px;
    background-image: url('@/assets/images/backstage/backstage-bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include all-breakpoints(padding, 116px, 31px, 107px, 93px);
    @include all-breakpoints(height, 855px);
    @include all-breakpoints(width, 1084px);

    @include w375 {
      width: 100%;
      background-image: none;
      height: auto;
      padding: 0;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 360px;

    @include all-breakpoints(max-width, 360px);
    @include all-breakpoints(gap, 20px);

    @include w375 {
      max-width: vw(320px);
      gap: vw(10px);
    }
  }

  &__sliderControls {
    position: absolute;
    bottom: 107px;
    right: 28px;
    width: 158px;

    @include all-breakpoints(bottom, 107px);
    @include all-breakpoints(right, 28px);
    @include all-breakpoints(width, 158px);

    @include w375 {
      bottom: vw(58px);
    }
  }

  &__slider {
    font-size: 20px;
  }
}
