.filtersSlide {
  position: relative;
  top: vw(-60px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0 vw(51px) 0 vw(105px);

  @include all-breakpoints(top, -60px);

  @include w2000 {
    padding: 0 vw(51px) 0 vw(105px);
  }

  @include w1280 {
    padding: 0 vw(95px) 0 vw(105px);
  }

  @include w768 {
    padding: 0;
  }

  &__leftBlock {
    display: flex;
    flex-direction: column;
    gap: vw(22px);

    @include all-breakpoints(gap, 22px);

    @include w375 {
      gap: vw(33px);
    }
  }

  &__video {
    width: vw(443px);
    height: vw(301px);

    @include all-breakpoints(width, 443px);
    @include all-breakpoints(height, 301px);

    @include w375 {
      width: 100vw;
      height: vw(255px);
    }
  }

  &__videoDescription {
    width: vw(227px);

    @include all-breakpoints(width, 227px);

    @include w375 {
      width: vw(154px);
    }
  }

  &__rightBlock {
    display: flex;
    flex-direction: column;
    gap: vw(15px);

    @include all-breakpoints(gap, 15px);
  }

  &__image {
    width: vw(168px);
    height: vw(332px);

    @include all-breakpoints(width, 168px);
    @include all-breakpoints(height, 332px);

    @include w375 {
      width: vw(136px);
      height: vw(269px);
    }
  }

  &__slideControls {
    display: flex;
    flex-direction: column;
    gap: vw(52px);

    @include all-breakpoints(gap, 52px);

    @include w375 {
      gap: vw(17px);
    }
  }
}
