.text {
  font-weight: 400;
  font-size: vw(14px);
  line-height: vw(18px);
  letter-spacing: 0;

  &_size {
    &_sm {
      @include all-breakpoints(font-size, 12px);
      @include all-breakpoints(line-height, 20px);
    }

    &_lg {
      @include all-breakpoints(font-size, 17px);
      @include all-breakpoints(line-height, 22px);
    }
  }

  &_color {
    &_pink {
      color: var(--color-text-pink);
    }

    &_white {
      color: var(--color-text-white);
    }
  }
}
