.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;

  @include all-breakpoints(font-size, 14px);
  @include all-breakpoints(line-height, 18px);

  &_size {
    &_xs {
      font-size: 10px;
      line-height: 16px;

      @include all-breakpoints(font-size, 10px);
      @include all-breakpoints(line-height, 16px);
    }

    &_sm {
      font-size: 12px;
      line-height: 20px;

      @include all-breakpoints(font-size, 12px);
      @include all-breakpoints(line-height, 20px);
    }

    &_lg {
      font-size: 17px;
      line-height: 22px;

      @include all-breakpoints(font-size, 17px);
      @include all-breakpoints(line-height, 22px);
    }
  }

  &_color {
    &_pink {
      color: var(--color-text-pink);
    }

    &_white {
      color: var(--color-text-white);
    }
  }
}
