.filters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include container;

  @include w375 {
    padding-top: vw(90px);
    align-items: flex-start;
  }

  &__tabsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: vw(10px);
    width: vw(468px);
    z-index: 1;

    @include all-breakpoints(gap, 10px);
    @include all-breakpoints(width, 468px);

    @include w375 {
      flex-direction: column;
      align-items: flex-start;
      gap: vw(22px);
      width: vw(234px);
    }
  }

  &__slider {
    z-index: 0;
    height: vw(500px);
    top: vw(-60px);

    @include all-breakpoints(top, -60px);
    @include all-breakpoints(height, 500px);

    @include w375 {
      height: vw(485px);
    }
  }

  &__sliderControls {
    position: absolute;
    bottom: vw(105px);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: vw(213px);

    @include all-breakpoints(padding-right, 213px);
    @include all-breakpoints(bottom, 105px);

    @include w768 {
      padding-right: vw(40px);
    }

    @include w375 {
      padding-right: 0;
      bottom: 0;
      justify-content: flex-start;
    }
  }
}
