.filters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include container;

  &__tabsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: vw(10px);
    width: vw(468px);
    z-index: 1;

    @include all-breakpoints(gap, 10px);
    @include all-breakpoints(width, 468px);

    @include w375 {
      width: vw(234px);
    }
  }

  &__tabs {
    display: flex;
    gap: vw(15px);
    margin: 0;
    padding: 0;
    list-style: none;

    @include all-breakpoints(gap, 15px);
  }

  &__slider {
    top: vw(-60px);
    z-index: 0;

    @include all-breakpoints(top, -60px);
    @include all-breakpoints(height, 500px);
  }

  &__sliderControls {
    position: absolute;
    right: vw(200px);
    bottom: vw(105px);

    @include all-breakpoints(right, 200px);
    @include all-breakpoints(bottom, 105px);
  }
}
