.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: vw(30px) 0;
  width: 100%;
  z-index: 1;

  @include all-breakpoints(padding, 30px, 0);

  @include w375 {
    position: static;
    transform: unset;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: vw(60px);

    @include container;

    @include w2000 {
      gap: vw(60px);
    }

    @include w1280 {
      gap: vw(60px);
    }

    @include w768 {
      gap: vw(40px);
    }

    @include w375 {
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    gap: vw(20px);
    margin: 0;
    padding: 0;
    list-style: none;

    @include all-breakpoints(gap, 20px);

    @include w375 {
      flex-direction: column;
      gap: vw(10px);
    }
  }

  &__link {
    font-weight: 700;
  }
}
