.collections {
  margin: 0 auto;
  max-width: 1996px;
  width: 100%;
  padding: 0 65px 0 0;

  @include w1996 {
    padding: 0 vw(60px) 0 0;
  }

  @include w1280 {
    padding: 0 vw(195px) 0 0;
  }

  @include w375 {
    padding: vw(32px) 0 vw(157px);
  }

  &__container {
    position: relative;
    width: 1173px;
    height: 1124px;
    margin: 0 auto;

    @include all-breakpoints(height, 1124px);

    @include w1996 {
      width: vw(1173px);
    }

    @include w1280 {
      width: vw(1084px);
    }

    @include w375 {
      width: 100%;
      height: auto;
    }
  }

  @include w375 {
    padding: vw(32px) 0 vw(157px);
    height: auto;
  }

  &__slider {
    @include w375 {
      height: vw(300px);
    }
  }

  &__tabsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    padding-left: 205px;
    margin-bottom: 30px;

    @include all-breakpoints(margin-bottom, 30px);

    @include w1996 {
      padding-left: vw(205px);
    }

    @include w1280 {
      padding-left: vw(205px);
    }

    @include w375 {
      padding-left: vw(30px);
    }
  }

  &__sliderControls {
    padding-left: 205px;

    @include w1996 {
      padding-left: vw(205px);
    }

    @include w1280 {
      padding-left: vw(205px);
    }

    @include w375 {
      padding-left: vw(30px);
      margin-bottom: vw(26px);
    }
  }

  &__description {
    position: absolute;
    right: 0;
    top: 450px;
    max-width: 318px;

    @include all-breakpoints(max-width, 318px);

    @include w1996 {
      top: vw(450px);
    }

    @include w1280 {
      top: vw(450px);
    }

    @include w375 {
      position: static;
      margin: auto;
    }

    &Item:nth-child(-n + 2) {
      margin-bottom: 20px;

      @include all-breakpoints(margin-bottom, 20px);
    }

    &Item_pink {
      margin-top: 46px;

      @include all-breakpoints(margin-top, 46px);

      @include w375 {
        margin-top: vw(55px);
      }
    }
  }
}
