@font-face {
  font-family: PTMono;
  src:
    url('./fonts/PTMono-Regular.woff2') format('woff2'),
    url('./fonts/PTMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:
    url('./fonts/IBMPlexMono-Bold.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:
    url('./fonts/IBMPlexMono-Regular.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.app {
  margin: 0 auto;
  padding: 0 100px;
  max-width: 1280px;
  width: 100%;
  min-width: 320px;
}
