.collectionsSlide {
  $p: &;

  width: 100%;
  height: 100%;
  position: relative;

  &__imageWrapper {
    position: absolute;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &_01,
  &_02 {
    #{$p}__imageWrapper {
      &:nth-of-type(2) {
        top: v-4px;
        right: 0;
        width: 383px;
        height: 288px;
        z-index: 1;

        @include all-breakpoints(width, 383px);
        @include all-breakpoints(height, 288px);
        @include all-breakpoints(top, -4px);
        @include all-breakpoints(right, 0);
      }

      &:nth-of-type(3) {
        width: 133px;
        height: 188px;
        z-index: 1;

        @include all-breakpoints(width, 133px);
        @include all-breakpoints(height, 188px);
      }

      &:nth-of-type(4) {
        width: 175px;
        height: 247px;
        z-index: 1;

        @include all-breakpoints(width, 175px);
        @include all-breakpoints(height, 247px);
      }
    }
  }

  &_01,
  &_02,
  &_03 {
    #{$p}__imageWrapper {
      &:nth-of-type(1) {
        left: 0;
        top: 0;
        width: 357px;
        height: 477px;
        z-index: 1;

        @include all-breakpoints(width, 357px);
        @include all-breakpoints(height, 477px);

        @include w375 {
          display: none;
        }
      }

      &:nth-of-type(2) {
        @include w375 {
          width: 375px;
          height: 288px;
          right: unset;
          left: 0;
          top: 0;
        }
      }

      &:nth-of-type(5) {
        width: 853px;
        height: 490px;
        z-index: 0;

        @include all-breakpoints(width, 853px);
        @include all-breakpoints(height, 490px);

        @include w375 {
          display: none;
        }
      }
    }
  }

  &_01 {
    #{$p}__imageWrapper {
      &:nth-of-type(3) {
        left: 385.5px;
        top: 331px;

        @include all-breakpoints(left, 385.5px);
        @include all-breakpoints(top, 331px);
      }

      &:nth-of-type(4) {
        left: 661px;
        top: 68px;

        @include all-breakpoints(left, 661px);
        @include all-breakpoints(top, 68px);
      }

      &:nth-of-type(5) {
        left: 107px;
        top: -13px;

        @include all-breakpoints(left, 107px);
        @include all-breakpoints(top, -13px);
      }
    }
  }

  &_02 {
    #{$p}__imageWrapper {
      &:nth-of-type(3) {
        left: 507px;
        top: 252px;
        width: 133px;
        height: 188px;
        z-index: 1;

        @include all-breakpoints(left, 507px);
        @include all-breakpoints(top, 252px);
        @include all-breakpoints(width, 133px);
        @include all-breakpoints(height, 188px);
      }

      &:nth-of-type(4) {
        left: 640px;
        top: 66px;

        @include all-breakpoints(left, 640px);
        @include all-breakpoints(top, 66px);
      }

      &:nth-of-type(5) {
        left: 107px;
        top: 99px;

        @include all-breakpoints(left, 107px);
        @include all-breakpoints(top, 99px);
      }
    }
  }

  &_03 {
    #{$p}__imageWrapper {
      &:nth-of-type(2) {
        left: 380px;
        top: 73px;
        width: 262px;
        height: 349px;
        z-index: 1;

        @include all-breakpoints(left, 380px);
        @include all-breakpoints(top, 73px);
        @include all-breakpoints(width, 262px);
        @include all-breakpoints(height, 349px);

        @include w375 {
          width: 219px;
          height: 292px;
          left: 0;
          top: 0;
        }
      }

      &:nth-of-type(3) {
        left: 533px;
        top: 356px;
        width: 175px;
        height: 247px;
        z-index: 1;

        @include all-breakpoints(left, 533px);
        @include all-breakpoints(top, 356px);
        @include all-breakpoints(width, 175px);
        @include all-breakpoints(height, 247px);
      }

      &:nth-of-type(4) {
        left: 906px;
        top: 16px;
        width: 158px;
        height: 223px;
        z-index: 1;

        @include all-breakpoints(left, 906px);
        @include all-breakpoints(top, 16px);
        @include all-breakpoints(width, 158px);
        @include all-breakpoints(height, 223px);
      }

      &:nth-of-type(5) {
        left: 115px;
        top: -29px;

        @include all-breakpoints(left, 115px);
        @include all-breakpoints(top, -29px);
      }
    }
  }

  &_04 {
    #{$p}__imageWrapper {
      &:nth-of-type(1) {
        left: 0;
        top: 0;
        width: 476px;
        height: 361px;
        z-index: 2;

        @include all-breakpoints(width, 476px);
        @include all-breakpoints(height, 361px);

        @include w375 {
          width: vw(375px);
          height: vw(291px);
        }
      }

      &:nth-of-type(2) {
        left: 353px;
        top: 253px;
        width: 383px;
        height: 288px;
        z-index: 1;

        @include all-breakpoints(left, 353px);
        @include all-breakpoints(top, 253px);
        @include all-breakpoints(width, 383px);
        @include all-breakpoints(height, 288px);

        @include w375 {
          display: none;
        }
      }

      &:nth-of-type(3) {
        left: 669px;
        top: 112px;
        width: 133px;
        height: 188px;
        z-index: 1;

        @include all-breakpoints(left, 669px);
        @include all-breakpoints(top, 112px);
        @include all-breakpoints(width, 133px);
        @include all-breakpoints(height, 188px);
      }

      &:nth-of-type(4) {
        left: 1013px;
        top: 161px;
        width: 109px;
        height: 154px;
        z-index: 1;

        @include all-breakpoints(left, 1013px);
        @include all-breakpoints(top, 161px);
        @include all-breakpoints(width, 109px);
        @include all-breakpoints(height, 154px);
      }

      &:nth-of-type(5) {
        left: 820px;
        top: -41px;
        width: 175px;
        height: 247px;
        z-index: 1;

        @include all-breakpoints(left, 820px);
        @include all-breakpoints(top, -41px);
        @include all-breakpoints(width, 175px);
        @include all-breakpoints(height, 247px);

        @include w375 {
          width: 105px;
          height: 148px;
          left: unset;
          top: 0;
          right: 0;
          z-index: 2;
        }
      }

      &:nth-of-type(6) {
        right: 0;
        top: 83px;
        width: 853px;
        height: 490px;
        z-index: 0;

        @include all-breakpoints(right, 0);
        @include all-breakpoints(top, 83px);
        @include all-breakpoints(width, 853px);
        @include all-breakpoints(height, 490px);

        @include w375 {
          display: none;
        }
      }
    }
  }

  &_05 {
    #{$p}__imageWrapper {
      &:nth-of-type(1) {
        left: 0;
        top: 0;
        width: 533px;
        height: 401px;
        z-index: 1;

        @include all-breakpoints(width, 533px);
        @include all-breakpoints(height, 401px);

        @include w375 {
          width: vw(375px);
          height: vw(290px);
        }
      }

      &:nth-of-type(2) {
        left: 486px;
        top: 203px;
        width: 232px;
        height: 310px;
        z-index: 2;

        @include all-breakpoints(left, 486px);
        @include all-breakpoints(top, 203px);
        @include all-breakpoints(width, 232px);
        @include all-breakpoints(height, 310px);

        @include w375 {
          display: none;
        }
      }

      &:nth-of-type(3) {
        left: 326px;
        top: 316px;
        width: 141px;
        height: 200px;
        z-index: 2;

        @include all-breakpoints(left, 326px);
        @include all-breakpoints(top, 316px);
        @include all-breakpoints(width, 141px);
        @include all-breakpoints(height, 200px);
      }

      &:nth-of-type(4) {
        right: 0;
        top: 0;
        width: 158px;
        height: 223px;
        z-index: 1;

        @include all-breakpoints(width, 158px);
        @include all-breakpoints(height, 223px);
      }

      &:nth-of-type(5) {
        left: 749px;
        top: 74.5px;
        width: 176px;
        height: 250px;
        z-index: 1;

        @include all-breakpoints(left, 749px);
        @include all-breakpoints(top, 74.5px);
        @include all-breakpoints(width, 176px);
        @include all-breakpoints(height, 250px);

        @include w375 {
          width: vw(105px);
          height: vw(145px);
          left: unset;
          top: 0;
          right: 0;
          z-index: 2;
        }
      }

      &:nth-of-type(6) {
        left: 663.5px;
        top: -51px;
        width: 109px;
        height: 154px;
        z-index: 1;

        @include all-breakpoints(left, 663.5px);
        @include all-breakpoints(top, -51px);
        @include all-breakpoints(width, 109px);
        @include all-breakpoints(height, 154px);

        @include w375 {
          width: 105px;
          height: 145px;
          left: unset;
          top: vw(145px);
          right: 0;
          z-index: 2;
        }
      }

      &:nth-of-type(7) {
        right: 0;
        top: -31px;
        width: 853px;
        height: 490px;
        z-index: 0;

        @include all-breakpoints(right, 0);
        @include all-breakpoints(top, -31px);
        @include all-breakpoints(width, 853px);
        @include all-breakpoints(height, 490px);

        @include w375 {
          display: none;
        }
      }
    }
  }

  &_01,
  &_02,
  &_03,
  &_04,
  &_05 {
    #{$p}__imageWrapper {
      &:nth-of-type(3) {
        @include w375 {
          width: vw(105px);
          height: vw(148px);
          z-index: 2;
          right: vw(105px);
          left: unset;
          top: vw(-148px);
        }
      }

      &:nth-of-type(4) {
        @include w375 {
          width: vw(105px);
          height: vw(148px);
          right: 0;
          left: unset;
          top: vw(-148px);
        }
      }
    }
  }
}
